<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Student List</h1>
    <table>
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
        <% if(students.length >0 ) { %>
            <% for(var i=0; i<students.length; i++) { %>
                <tr>
                    <td><%- students[i].id %></td>
                    <td><%- students[i].name %></td>
                    <td><%- students[i].email %></td>
                    <td><%- students[i].mno %></td>
                    <td>
                        <a href="/delete-student?id=<%- students[i].id %>">Delete</a>
                        <a href="/update-student?id=<%- students[i].id %>">Update</a>
                    </td>
                </tr>
                <% } %>
        <% } else {  %>
            <h1>Students Data Not found</h1>
            <%  } %>
        
    </table>
</body>
</html>
